/*Header styles*/
header {
	/*background: #bdc3c7;*/
	display: block;
}

.lndg-text {
	width: 1000px;
	margin: auto;
	text-align: center;
	font-size: 50px;
	font-family: 'Lato';
}

/*Content styles*/
#content {
	width: 1000px;
	height: 450px;
	/*overflow: hidden;*/
	margin: auto;
	background-color: #f1c40f;

	margin-top: 20px;
	font-family: 'Lato';

	border: 2px solid #e67e22;
	border-radius: 10px;

}

/*Info styles*/
.plugin-select {
	float: left;
	box-sizing: border-box;
	width: 200px;
	height: 100%;
	text-align: center;
	letter-spacing: 5px;
	/*padding: 20px;*/
	background: #f39c12;
	border-right: 2px solid #CB830F;
	border-radius: 10px 0 0 10px;
}

.plugin-select > h1 {
  padding-top: 10px;
  font-size: 20px;
  border-bottom: 1px solid #000;
  width: 180px;
  margin: 0 auto 10px auto;
  border-radius: 0;
  font-size: 25px;
  font-weight: bold;
}

/*Plugin Wrapper styles*/
.plugins-wrapper {
	float: right;
	box-sizing: border-box;
	width: 800px;
	height: 100%;
	border-radius: 0 10px 10px 0;
	/*background: #ecf0f1;*/
}

.plugin-header {
	text-align: center;
	background: #fff;
	font-size: 30px;
	/*margin-bottom: 10px;*/
	/*background: #2ecc71;*/
}

/*Tabs styles*/
#content-tabs {
	height: 100%;
}

.tabs > li {
	margin-bottom: 20px;
	font-size: 25px;
}

.tabs > li > a {
	transition: .25s;
	text-decoration: underline;
	border-radius: 7px;
	padding: 5px;
	letter-spacing: 1px;
}

.tabs > li > a:hover {
	transition: .25s;
	background: #f1c40f;
	color: #F16D0F;
}

.tabs > li > a.active {
	background: #f1c40f;
	/*font-size: 30px;*/
}

#desc-tabs { 
	box-sizing: border-box;
  padding: 20px;
}

#desc-tabs > h1 { 
  text-align: center;
  font-size: 35px;
  margin-bottom: 25px;
}

#desc-tabs > p {
  letter-spacing: 1px;
  word-spacing: 7px;
  font-size: 20px;
  width: 90%;
  margin: auto;
  line-height: 45px;
}

/*Sidescroll styles*/
.scroll-buttons {
	width: 35%;
	margin: auto;

	text-align: center;
	font-size: 30px;
	letter-spacing: 4px;
	/*text-decoration: underline;*/
}

.scroll-buttons > *:hover {
	color: #f1c40f;
}

.scroll-right {
	float: left;
	margin: 5px;
}

.scroll-left {
	float: right;
	margin: 5px;
}

.pics > img {
	height: 100%;
	width: 100%;
}

/*Zoom Styles*/
#desc-zoom {
	text-align: center;
	height: 100%;
}

.zoom-pic {
	margin: auto;
}

.zoom {
	height: 100%;
}